.container{
    width: 400px;
    height: 200px;
    margin: 0 auto; 
}
.menu {
    display: flex;
    
}
.menu .top{
    border: 1px solid #ddd;
    border-radius: 5px 0px 0px 5px;
    padding: 10px 20px;
    border-color: #9CD2FF;
    color: #9CD2FF;
}
.menu .bottom{
    border: 1px solid #ddd;
    padding: 10px 20px;
}
.menu .left{
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 10px 20px;
}
.menu .right{
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 0px 5px 5px 0px;
}
.menubar{
    background-color: #364D79;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
.sub-menu{
    position: absolute;
    top: 10px;
    left: 140px;
}
.sub-menu .img1 {
    width: 30px;
    height: 5px;
    border: 1px solid #fff;
    display: -webkit-inline-box;
    background-color: #fff;
    opacity: 100%;
}
.sub-menu .img2 {
    width: 30px;
    height: 5px;
    border: 1px solid #fff;
    display: -webkit-inline-box;
    background-color: gray;
    opacity: 50%;
}
.sub-menu .img3 {
    width: 30px;
    height: 5px;
    border: 1px solid #fff;
    display: -webkit-inline-box;
    background-color: gray;
    opacity: 50%;
}
.sub-menu .img4 {
    width: 30px;
    height: 5px;
    border: 1px solid #fff;
    display: -webkit-inline-box;
    background-color: gray;
    opacity: 50%;
}
.menubar p{
    text-align: center;
    padding-top: 100px;
    color: #fff;
}