.container{
    width: 500px;
    margin: 100px auto;
    border: 1px solid #ececec;
    border-right: none;
    border-bottom: none;
}
.container .fa-toggle-on{
    padding-left: 25px;
    margin-top: 20px;
}
.card{
    margin: 20px 20px 0px 20px;
    padding-left: 25px;
    border: 1px solid #ececec;
}
.card .img{

}
.card .img .fa-head-side{

}
.card .content{

}
.card .content h2,p{
    text-transform: capitalize;
}
.card-footer{
    border: 1px solid #ececec;
    padding-left: 25px;
    margin:0px 20px;
    background-color: #FAFAFA;
}
.card-footer .img {
    display: flex;
    justify-content: space-between;
}
.card-footer .img .left{
    
}
.card-footer .img .left{
    
}
.card-footer .img .mid{
    
}
.card-footer .img .right{
    
}

