.container{
    background-color: #364D79;
    width: 500px;
    height: 200px;
    margin: 200px auto;
    position: relative;
}
p {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
}
.menu{
    position: absolute;
    bottom: 10%;
    right: 170px;
}
.menu .img1  {
    width: 10px;
    height: 3px;
    border: 1px solid;
    display: inline-flex;
    padding: 1px 10px;
    background-color: gray;
    opacity: 50%;
}
.menu .img2  {
    width: 10px;
    height: 3px;
    border: 1px solid;
    display: inline-flex;
    padding: 1px 10px;
    background-color: gray;
    opacity: 50%;
}
.menu .img3  {
    width: 10px;
    height: 3px;
    border: 1px solid;
    display: inline-flex;
    padding: 1px 10px;
    background-color: #fff;
    opacity: 100%;
}
.menu .img4  {
    width: 10px;
    height: 3px;
    border: 1px solid;
    display: inline-flex;
    padding: 1px 10px;
    background-color: gray;
    opacity: 50%;
}