*{
    margin: 0;
    padding: 0;
}
.container{
    width: 500px;
    margin: 100px auto;
    border-top: 1px solid #ececec;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
}
.top{
    float: left;
    padding-left: 120px;
    margin-top: 25px;
}
.top ul li a {
    display: inline-flex;
    border: 2px solid #ececec;
    border-radius: 5px;
    padding: 5px 25px;
    margin: 5px;
    color: darkgray;
}
.bottom{
    float: left;
    padding-left: 120px;
}
.bottom ul li a {
    display: inline-flex;
    border: 2px solid #ececec;
    border-radius: 5px;
    padding: 5px 25px;
    margin: 5px;
    color: darkgray;
}
.left {
    float: left;
    padding: 0px 35px;
}
.left ul li a{
        display: table-caption;
        border: 2px solid #ececec;
        border-radius: 5px;
        padding: 5px 25px;
        margin: 5px;
        color: darkgray;
}
.right {
    float: right;
    padding-right: 15px;
}
.right ul li a{
    display: table-caption;
    border: 2px solid #ececec;
    border-radius: 5px;
    padding: 5px 25px;
    margin: 5px;
    color: darkgray;
}